*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-wrapper{
  height: 100vh;
}

header{
  height: 7.5%;
}

header img{
  height: 100%;
  padding-left: 20px;
}

.game-wrapper{
  display: flex;
  flex-direction: column;
  height: 85%;
  overflow: scroll;
  align-items: center;
  background-color: bisque;
  padding: 30px 0;
}

.numbers-container{
  font-size: 1.8rem;
  padding: 20px 0;
  opacity: 1;
  transition: all .5s;
}

.numbers-container span{
  padding: 0 20px;
}

.opacity-0{
  opacity: 0;
}

.input{
  border: 3px solid green;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 1.5rem;
  background-color: transparent;
  cursor: pointer;
  transition: all .3s;
}


.input:hover{
  background-color: green;
  color: white;
}

footer{
  height: 7.5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer span{
  font-size: 1.5rem;
}